<h1>All Stocks</h1>
<% @stocks.each_slice(3) do |three_stocks| %>
<div class="row">
<% three_stocks.each do |stock| %>
   <div class="col-md-4">
    <div class="well">
      <h2><a href="/stocks/<%= stock.id %>"><%= stock.name %></a></h2>
      <h4>Name: <%= stock.name %></h4>    
      <p>Price: <%= stock.price %></p>
    </div>  
   </div> 
  <% end %>
 </div>
<% end %>