<h1>Add New Stock</h1>
<%= form_tag '/stocks', method: :patch do %>
	<div>
      Name: <input type="text" name="stock">
	</div>
	<div>
	  Price: <input type="integer" name="price">
	</div>
	<input type="submit" value="Create New Stock Listing">
	<% end %>